// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// Yo can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

.circle {
  border-radius: 50%;
  behavior: url(PIE.htc); /* Internet Exploder */
  width: 30%;
  height: 20%;
  top: 10%;
  right: 0%;
}

.score {
  margin: 0 auto;
  text-align:center;
}

#submit{
  display: none;
}

#page_left{
    display: none;
}

#page_right{
    display: none;
}

#icons{
  background-color: #101010;
}

#search{
  width: 100%;
}

/* www.responsivegridsystem.com/calculator/ */

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col_left{
  float: left;
  width: 256px;
}

.col_center{
  float: none;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col_right{
  float: right;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0 0 0 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GID SPANS */

.span_1_of_3 {
  width: 32.26%;
}

.span_1_of_4 {
  width: 23.8%;
}

.span_1_of_5 {
  width: 18.72%;
}

.span_1_of_9 {
  width: 9.688%;
}

/* --------------------------------ADD MORE GRIDS */

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 1440px) {
  .col_left, .col_right { width: 128px; }
}

@media only screen and (max-width: 720px) {
  .col_left, .col_right { width: 64px; }
}

@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_4 { width: 100%; }
  .span_1_of_9 { width: 11.11111111111%; }
}

img{
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
